In [3]:
#Question 1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort();
maxAge = max(ages);
minAge = min(ages);
print("After sorting ages : ", ages);
print("Maximum age in given students : ", maxAge);
print("Minimum age in given students : ", minAge);
ages.insert(0, minAge) #using insert(index, value) method to add min value
ages.append(maxAge)    #using append() method to add max value at end
print("Student ages after updating : ", ages);
agesLen = len(ages);
if agesLen % 2 == 0 :
        print("Median age in list : ", (ages[(int(agesLen/2))-1]+ages[int(agesLen/2)])/2);
else : 
        print("Median age in list : ", (ages[int(agesLen/2)]));

avgAge = sum(ages)/agesLen;
print("Average age of the list : ", avgAge);

#Finding range of ages
print("Range of ages : ", maxAge - minAge);

After sorting ages :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Maximum age in given students :  26
Minimum age in given students :  19
Student ages after updating :  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median age in list :  24.0
Average age of the list :  22.75
Range of ages :  7

In [62]:
#Question 2
dog = dict();
dog.update({"name" : "Rocky", "color" : "Dusty", "breed" : "Basset Hound", "legs" : "Four", "age" : "Four"})
print("Updated dog dictionary : ", dog);
studentD = dict();  #created an empty student dictionary and then adding key-values.
studentD.update({"first_name" : "Satya", "last_name" : "Boppana", "gender" : "Male", "age" : "23",
                "marital_status" : "Single", "skills" : ["Java, SQL"], "country" : "India", "city" : "Cherla",
                "address" : "Telangana"});
print("Student Dictionary: ", studentD);
print("\nLength of the Student Dictionary: ", len(studentD))
print("\nGetting value for a key(Skills) : ", studentD["skills"]);
print("Datatype of the skills : ", type(studentD["skills"]));
studentD["skills"].extend(["HTML", "CSS", "APEX"]);
print("Updated skills : ", studentD["skills"]);
print("Keys : ", studentD.keys());
print("Values : ", studentD.values());

Updated dog dictionary :  {'name': 'Rocky', 'color': 'Dusty', 'breed': 'Basset Hound', 'legs': 'Four', 'age': 'Four'}
Student Dictionary:  {'first_name': 'Satya', 'last_name': 'Boppana', 'gender': 'Male', 'age': '23', 'marital_status': 'Single', 'skills': ['Java, SQL'], 'country': 'India', 'city': 'Cherla', 'address': 'Telangana'}

Length of the Student Dictionary:  9

Getting value for a key(Skills) :  ['Java, SQL']
Datatype of the skills :  <class 'list'>
Updated skills :  ['Java, SQL', 'HTML', 'CSS', 'APEX']
Keys :  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
Values :  dict_values(['Satya', 'Boppana', 'Male', '23', 'Single', ['Java, SQL', 'HTML', 'CSS', 'APEX'], 'India', 'Cherla', 'Telangana'])

In [65]:
#Question 3
#Creating tuple and adding some data into it..

mySisters = ("Sravanthi", "Sowmya"); print("My Sister Tuple : ", mySisters);
myBrothers = ("Shyam", "Sravan"); print("My Brother Tuple : ", myBrothers);

#Adding sisters and brothers and assigning to Siblings...

mySiblings = myBrothers + mySisters ;
print("My Siblings Tuple : ", mySiblings);

#Number of siblings
print("number of siblings: ", len(mySiblings));

#Adding family 
family_members = mySiblings + ("Srinivasa Rao", "Prabhavathi");
print("Family Members: ", family_members);

My Sister Tuple :  ('Sravanthi', 'Sowmya')
My Brother Tuple :  ('Shyam', 'Sravan')
My Siblings Tuple :  ('Shyam', 'Sravan', 'Sravanthi', 'Sowmya')
number of siblings:  4
Family Members:  ('Shyam', 'Sravan', 'Sravanthi', 'Sowmya', 'Srinivasa Rao', 'Prabhavathi')

In [88]:
#Question 4
#Given
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'};
A = {19,22,24,20,25,26};
B = {19,22,20,25,26,24,28,27};
age=[22,19,24,25,26,24,25,24];
print("Length of it_companies : ", len(it_companies));
it_companies.add('Twitter');
print("\nAdding Twitter : ", it_companies);
it_companies.update(['TCS', 'Infosys', 'L&T', 'MindTree']);
print("\nUpdated set : ", it_companies);
it_companies.remove('L&T');
print("After remove : ", it_companies);
print("\n");
print("discard() method will not throw error when an item is not present where as", 
       "remove() method will throw the error when item is not present in List");
print("\nJoining A & B - Union", A.union(B));
print("Intersection of A & B : ", A.intersection(B));
print("A is Subset of B if true else not a Subset :", A.issubset(B));
print("A & B are disjoints id no elements is in common- if true disjoint else : ", A.isdisjoint(B));
print("A union B and B union A : ", A.union(B).intersection(B.union(A)) );
print("extra elements that are not present in one set: ", A.symmetric_difference(B));
it_companies.clear();
A.clear();
B.clear();
print("After clearing sets A : ", A ," B : ", B ," it_companies : ", it_companies);
print("\n list of age : ", age);
ageSet = set(age);
print("Set of age : ", ageSet);
print("Length of Set is : ", len(ageSet), " Length of List is : ", len(age));

Length of it_companies :  7

Adding Twitter :  {'Google', 'Amazon', 'IBM', 'Oracle', 'Apple', 'Facebook', 'Twitter', 'Microsoft'}

Updated set :  {'Google', 'L&T', 'Oracle', 'Facebook', 'Microsoft', 'TCS', 'Amazon', 'Infosys', 'IBM', 'MindTree', 'Apple', 'Twitter'}
After remove :  {'Google', 'Oracle', 'Facebook', 'Microsoft', 'TCS', 'Amazon', 'Infosys', 'IBM', 'MindTree', 'Apple', 'Twitter'}


discard() method will not throw error when an item is not present where as remove() method will throw the error when item is not present in List

Joining A & B - Union {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A & B :  {19, 20, 22, 24, 25, 26}
A is Subset of B if true else not a Subset : True
A & B are disjoints id no elements is in common- if true disjoint else :  False
A union B and B union A :  {19, 20, 22, 24, 25, 26, 27, 28}
extra elements that are not present in one set:  {27, 28}
After clearing sets A :  set()  B :  set()  it_companies :  set()

 list of age :  [22, 19, 24, 25, 26, 24, 25, 24]
Set of age :  {19, 22, 24, 25, 26}
Length of Set is :  5  Length of List is :  8

In [106]:
#Question 5
#Given

import math
#importing math function inorder to use pie value....

radiusOfCircle = 30;
_area_of_circle_ = math.pi * radiusOfCircle * radiusOfCircle;
print("Area of the circle is : ", areaOfCircle);

_circum_of_circle_ = 2 * math.pi * radiusOfCircle;
print("Circumference of circle is : ", _circum_of_circle_, "m");

radiusOfCircle = float(input("Enter radius of a circle : "));
_area_of_circle_ = math.pi * radiusOfCircle **2;
print("Area of the circle is : ", _area_of_circle_);

Area of the circle is :  2827.4333882308138
Circumference of circle is :  188.49555921538757 m
Enter radius of a circle : 100
Area of the circle is :  31415.926535897932

In [108]:
#Question 6
#to get unique words we need to use set...

unique_words = set(("I am a teacher and I love to inspire and teach people").split(" "));
print("Number of unique words : ", len(unique_words), "\nthey are : ", unique_words);

Number of unique words :  10
they are :  {'love', 'and', 'to', 'am', 'teach', 'teacher', 'I', 'a', 'inspire', 'people'}

In [119]:
#Question 7
#Tab escape sequesnce

sentence = "Name  \t age \t country   city \nAsabeneh 250 \t Finland   Helsinki ";
print(sentence);

Name  	 age 	 country   city
Asabeneh 250 	 Finland   Helsinki

In [120]:
#Question 8
#given

radius = 10;
area = 3.14 * radius **2

print("The area of the circle with the radius ", radius, " is %.0f" %area, "meter square");

The area of the circle with the radius  10  is 314 meter square

In [127]:
#Question 9
#N - Number of students

N = int(input("Enter number of students : "));
weightsInLBS = list();
weightsInKGS = list();
for i in range(N):
    lbWeights = int(input("Enter weight of {} students in lbs : ".format(i+1)));
    weightsInLBS.insert(i , lbWeights);
    #convert lbs to kgs
    kgWeights = float("%.2f" %(lbWeights * 0.453592)); # 1lb = 0.453592 kg
    weightsInKGS.insert(i, kgWeights);

print("weight of students in Kgs : ", weightsInKGS);

Enter number of students : 2
Enter weight of 1 students in lbs : 220
Enter weight of 2 students in lbs : 330
weight of students in Kgs :  [99.79, 149.69]

In [16]:
#Question 10
import numpy as nm
import pandas as pd 
from sklearn.model_selection import train_test_split
 

X = nm.array([[1,0],[2,0],[3,0],[6,0],[6,0],[7,0],[10,0],[11,0]]);
print("Given 8 points of dataset : \n",  A,);

Y = nm.array([0,0,1,1,1,0,0,0]);
x_train,x_test,y_train,y_test = train_test_split(x,y,);

AttributeError: partially initialized module 'pandas' has no attribute 'core' (most likely due to a circular import)